body {
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.comics-shelf-contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 1vh 0vh 1vh 0vh;
  padding: 0.25vh 0vh 0.25vh 0vh;
  border: solid 2px;
  width: 100%;
  /* height: "fit-content" */
  min-height: 20vh;
  background-image: radial-gradient(circle, #f8d568, #fa7a48);
  overflow: auto;
  white-space: nowrap;
}
