.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.splash-modal-button{
  font-family: Comic sans-serif;
}

.splash-modal-header{
  font-family: Comic sans-serif;
  background-color: #DE3E35;
  color: #FFE659;

}

.splash-modal-body{
  font-family: Comic sans-serif;
  background-color: #FFE659;
  
}

.splash-modal-footer{
  background-color: #DE3E35;
  height: 60px
}

